<div class="container mt-5 mb-5">
  <h1>Liên hệ với chúng tôi</h1>
  <form class="col-lg-8">
    <div class="row">
      <div class="col-lg-6 mt-2 mb-2">
        <input type="text" class="form-control" placeholder="Nhập họ của bạn">
      </div>
      <div class="col-lg-6 mt-2 mb-2">
        <input type="text" class="form-control" placeholder="Nhập tên của bạn">
      </div>
      <div class="col-lg-12 mt-2 mb-2">
        <input type="text" class="form-control"placeholder="Nhập Email của bạn">
      </div>
      <div class="col-lg-12 mt-2 mb-2">
        <input type="text" class="form-control"placeholder="Nhập số điện thoại của bạn">
      </div>
      <div class="col-lg-12 mt-2 mb-2">
        <button class="btn btn-md btn-dark">Đồng ý</button>
      </div>
    </div>
  </form>
</div>
